@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Text:wght@300&family=Dancing+Script&display=swap');

body{
    font-family: 'Dancing Script', cursive;;
}

#lognav a{
    color: rgb(212, 209, 209);
}

#lognav{
    padding-top: 15px;
    background-color: rgb(33, 41, 38);
    height: 55px;
    display: flex;
    text-decoration: none;
}

#ul1{
    flex: 1;
}

#ul2{
    flex: -1;
    margin-right: 1rem;
} 